.place__title {
    font-family: 'Inter-Black', Arial, sans-serif;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.1;
    width: 460px;
    min-height: 76px;
    margin: 0;
}

@media screen and (min-width:1024px) and (max-width:1279px) {
    .place__title {
        max-width: 440px;
    }
}    

@media screen and (min-width:768px) and (max-width:1023px) {
    .place__title {
        font-size: 42px;
        min-height: 46px;
        width: 340px;
    }
}

@media screen and (min-width:320px) and (max-width:767px) {
    .place__title {
        font-size: 32px;
        width: 288px;
        min-height: 35px;
        margin-left: 16px;
    }
}