.lead__caption {
    font-family: 'Inter', Arial, sans-serif;
    font-weight: normal;
    font-size: 10px;
    line-height: 1.4;
    margin-top: 8px;
    align-self: flex-start;
    margin-bottom: 0;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

@media screen and (min-width:768px) and (max-width:1023px) {
    .lead__caption {
        padding-left: 24px;
    }
}

@media screen and (max-width:767px) {
    .lead__caption {
        padding-left: 16px;
    }
}